*{
    box-sizing: border-box;
}
header{
    background: rgb(3, 37, 65);
    color: white;
    display: flex;
    height: 60px;
    width: 100%;
}
img{
    width: 30%;
    height: 30%;
}
ul {
    display: flex;
}
ul li{
    text-decoration: none;
    list-style: none;
    padding: 10px;
}